html, body
  height: 100%
  text-align: center
  white-space: nowrap
  margin: 0

body:before
  content: ''
  display: inline-block
  height: 100%
  width: 0
  overflow: hidden
  vertical-align: middle
  margin-left: -.3em


main.content
  display: inline-block
  vertical-align: middle
  text-align: center
  padding: 20px
  overflow: hidden
  width: 100%

img,
video
  +responsive-media

figure > img
  display: block

button
  border: none
  background: transparent

button:focus
  outline: none


// Mobile font sizes quickfix
// Replace with https://github.com/STRML/textFit
html body
  font-size: 0.6em !important

  h1
    font-size: 3.5em

  @media screen and (min-width: 500px)
    &
      font-size: 0.8em !important
  @media screen and (min-width: 800px)
    &
      font-size: 1em !important


