@import ../config

body
  font-family: 'Poiret One', cursive!important

main.content
  background: #f70
  border-radius: 50%
  height: 720px
  width: 720px

h1.heading
  margin-top: 80px
  margin-bottom: 40px
  color: white

iframe
  width: 411px
  height: 411px
  border: none

#qr-code-wrapper
  text-align: left
  position: fixed
  bottom: 15px
  right: 15px

  .message
    margin-bottom: 3px
