li.wrapper
  .search-item(data-remood-value=result.uri)
    .left-col
      figure
        .layer
          img(src="#{result.artwork_url.replace(/-large\.jpg$/,'-t500x500.jpg')}")
        .layer
          i.play-control
    .right-col
      h2 #{result.title}
      h3
        small by
        | #{' ' + result.user.username}