li.wrapper(data-remood-value=result.uri)
  .container
    .left-col
      figure
        img(src="#{result.artwork_url.replace(/-large\.jpg$/,'-t500x500.jpg')}")
        a.play-button
          span.glyphicon.glyphicon-play
    .right-col
      h1 #{result.title}
      h4
        small by
        | #{' ' + result.user.username}