li.wrapper(data-remood-value=result.uri)
  .container
    .flex-1
      figure
        img(src="#{result.artwork_url.replace(/-large\.jpg$/,'-t500x500.jpg')}")
        a.play-button
          span.glyphicon.glyphicon-play
    .flex-5
      h1 #{result.title}
      h4
        small by
        | #{' ' + result.user.username}